/* IMPORT FONT ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;  
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

/* VARIÁVEIS DE CONTROLE DE COR */
:root{
    --background-navbar: #141414;
    --button-navbar-responsivo: #fff;
    --font-color-navbar: #fff;
    --modal-banner:#181818;
    --cor-fora-do-modal-banner: rgba(0,0,0,0.8);
}

body{
    background: var(--background-navbar);
}
/*--------------------------------- INÍCIO DA EDIÇÃO DO MENU -----aaaaa---------------------------*/
.nevegacao{
    background-color: var(--background-navbar);
    margin: 0;
    position: fixed;
    width: 100%;
    z-index:1000;

}
.navegacaoo .navbar{
    margin-left: 160px;
    margin-right: 160px;
}
.nevegacao .navbar  {
    margin:0;
}
.nevegacao .navbar .navbar-toggler .button{
width: 35px;
height: 5px;
background-color: var(--button-navbar-responsivo);
margin: 6px    0;
}
.nevegacao .navbar .collapse
.navbar-nav .nav-item  .nav-link{
    color: var(--font-color-navbar);
    font-family:  'Roboto', sans-serif; 
    font-size: 14px;
    margin-left: 10px;
}  
.nevegacao .navbar .collapse
.navbar-nav .nav-item .dropdown-menu{
    background: #0000;
    border: solid 1px var(--font-color-navbar);
    position: absolute;
    left: -100px;
    z-index: 2000;
}
.nevegacao .navbar .collapse
.navbar-nav .nav-item .dropdown-menu .dropdown-item{
    color: #fff;
}

/* ----------------------------------- FIM DO MENU DE NAVEGAÇÃO ---------------------------------------*/

/* ---------------------------------- INÍCIO DA EDIÇÃO DO BANNER ---------------------------------------*/
.banner{
   
    height: 70vh;
    background-image: url('../img/esquadrao 6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner .text-banner{
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.4), none);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
 
}   
.banner .button-banner{
    display: flex;
    align-items: flex-end;
    width: 100%;
  
}
.banner .text-banner .banner-button {
    background-color: rgba(0,0,0,0.7);
    border: none;
    padding: 7px;
    border-radius: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 180px;

}

.banner .text-banner .banner-button i{
    margin-right: 10px;
}
/* ------------------------------------------ FIM DA EDIÇÃO DO BANNER --------------------------------*/

/* ------------------------------------ INÍCO DA EDIÇÃO DOS CARROSSEL -------------------------------- */

.filmes .title-conteudo{
    font-size: 25px;
    padding: 15px;
}
/* ---------------------------------- FIM DA EDIÇÃO DO CARROSSEL ------------------------------------------------------*/

/* LOGOTIPO, PADRONIZANDO O TAMANHO DOS LOGOTIPOS*/
.logotipo{
    height:25px;
    margin: 15px;
}

/* EDIÇÃO DA PÁGINA BROWSE.HTML */
.main{
    height: 85vh;
    width:100%;
}
.main  h1{
    position: relative;
    top: 210px;
    text-align:center;
}
.main .usuarios{
    width: 100%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
  
}
.main .usuarios .perfil{
    margin: 15px;
}
.main .usuarios .perfil img{
    width: 150px;
}
.main .usuarios .perfil h2{
    font-size: 20px;
    text-align:center;
}
.series{
    display:flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 60px;
}
.series .dropdown-menu{
    z-index: 800;
} 
.series .title{
    font-size: 24px;
    margin-left: 10px;
}

/*-------------------------------------------------------- FIM DA EDIÇÃO DA PÁGINA BROESE ------------------------*/


/*---------------------------------------------Edição do modal do banner -----------------------------------------*/

.banner-modal-container{
    display: none;

}
.banner-modal-container .banner-modal-flex-itens header{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    background-image: url('../img/esquadrao 6.jpg');
    background-repeat:no-repeat;
    background-size: cover; 
}
.banner-modal-container .banner-modal-flex-itens header i{ 
/* Rodapé edição */
    align-self: flex-end;
    font-size: 35px;
    margin: 10px;
}
.banner-modal-container .banner-modal-flex-itens header .icon-footer{
    display: flex;
    flex-direction: row;
    margin: 30px;

}
.banner-modal-container .banner-modal-flex-itens header .icon-footer button{
    border: none;
    background-color: #fff;
    color: #0000;
    border-radius: 10px;
    width: 180px;
 
    margin: 10px;
    font-size: 16px;
    font-family:'Roboto', sans-serif;   

}
       
.radius-icon{
    border-radius: 50%;
    border: solid 1px rgb(209, 208, 208); 
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5px;
    margin: 10px;

}
.radius-icon:hover{
    border-color: #fff;     
    color: #000;
}
.banner-modal-container .banner-modal-flex-itens header .icon-footer .radius-icon i{
    font-size: 25px;     
}
.banner-modal-container .banner-modal-flex-itens main{
    margin: 30px;
    display: flex;
}   
.banner-modal-container .banner-modal-flex-itens main .header{
    display:flex;
    flex-direction: column;
    width: 50%;
}
.banner-modal-container .banner-modal-flex-itens main .header .relevante-banner{
    display: flex;
    flex-direction: row;
}
.banner-modal-container .banner-modal-flex-itens main .header .relevante-banner p{
    padding: 10px;
}
.relevante{
    color: rgb(0, 255, 0);
}

.idade-recomentada{
    height: 40px;
    width: 40px;
    background: red;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    display:flex;
    justify-content: center;
    align-items:center; 
    border-radius: 10px;
}
.banner-modal-container .banner-modal-flex-itens main .footer{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.banner-modal-container .banner-modal-flex-itens main .footer .informacao strong{
    color: rgb(102, 102, 102)   ;
}
.banner-modal-container .banner-modal-flex-itens .footer .titles-quantidade h1{
    font-size: 25px;
    margin: 30px;
}
.banner-modal-container .banner-modal-flex-itens .footer .episodios-temporadas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: center;
}

.banner-modal-container .banner-modal-flex-itens .footer .col-sm-4 .card{
    background-color: #2F2F2F;
}
.banner-modal-container .banner-modal-flex-itens .footer .col-sm-4 .card .card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-modal-container .banner-modal-flex-itens .footer .col-sm-4 .card .card-title .radius-icon{
    height: 30px;
    width: 30px;
    position: relative;
    top: -10px;
}
.descricao-banner{
    padding: 5px;
}
footer{ 
    position: relative;
    bottom: -40px;
    background: rgba(0,0,0,0.4);
}
footer div ul{
    display: flex;
    flex-flow: column wrap;
    max-height: 20vh;
    list-style: none;
    height: 100%;
}
footer div ul li{
    padding: 10px;
    font-weight: 200;
    color: #fff;
    font-size: 14px;
}
footer div p{
    text-align: center;
}

/* Fim da edição do rodapé  */

/* responsividade tamanho tablet */
@media screen and (max-width: 600px){
    .banner{
        max-width: 100%;
    }
    .banner .text-banner{
        width: 100%;
    }
    .main{
        position: relative;
        top: 60px;
    }
   .main .usuarios{
       flex-direction: column;
       margin-top: 160px;
   }
   .main h1{
       top: 0px;
   }
}